.img {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.navbar {
    display: flex;
}

.nav-link {
    text-decoration: none;
}

#Activites {
    height: 19px;
    width: 63px;
    left: 318px;
    top: 0px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #000000;
}

.haut {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    margin-left: 40px;
    list-style: none;
}

#MarseilleAccomodations {
    width: 75%;
    height: 626px;
    margin: 30px 20px 50px 8px;
	display: flex;
	justify-content: space-between;
    flex-direction: column;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
}

.titrebox {
    margin: 30px 0px 0px 25px;
    font-size: 22px;
    font-weight: bold;
}

.appartement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imageappart {
    border-radius: 20px 20px 0px 0px;
    height: 110px;
    width: 205px;
}

#MostPopular {
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    height: 626px;
    width: 25%;
    margin: 30px 20px 50px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 6px;
}

h4 {
    margin: 0px 0px 30px 30px;
}

.infos_hebergements {
    background-color: rgb(255,255,255);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	border: 4px solid white;
}

.titrehebergement {
	font-size: 16px;
	font-weight: bold;
	margin-left: 12px;
	margin-top: 12px;
	line-height: 1em;
}

.prixhebergement {
	font-size: 14px;
	font-weight: normal;
	margin-left: 12px;
	margin-bottom: 12px;
	line-height: 0.5em;
}

.etoiles {
    margin-left: 8px;
    margin-bottom: 8px;
}

.box {
    display: flex;
    flex-direction: row;
}

.boxmostpopular {
    background-color: rgb(255,255,255);
    border-radius: 20px;
	border: 4px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 144px;
    width: 89%;
    display: flex;
    flex-direction: row;
}

.titremostpopular {
    font-size: 16px;
	font-weight: bold;
    line-height: 19px;
}

.imagemostpopular {
    height: 144px;
    width: 137px;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
}

.prixmostpopular {
    font-size: 14px;
	font-weight: normal;
    line-height: 16px;
}

.titreboxmostpopular {
    font-size: 22px;
    font-weight: bold;
}